* {
    box-sizing: border-box;
}

.name_title a{
    color: rgb(226, 226, 226);
}

.name_title a:hover{
    color: rgb(226, 226, 226);
    text-decoration: none;
}

.nav-bar{
    background-color: black;
    color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    letter-spacing: 3px;
    height: 8vh;
}

#navLinks a{
    color: rgb(226, 226, 226);
}
#navLinks a:hover{
    color:grey;
}

@media (max-width:766px){
    #navLinks a{
        color: black;
        background-color: grey;
    }
}


.nav-bar div{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 15px;
}
.nav-links a:hover{
    color:gray;
    text-decoration: none;
}
div ul{
    display: flex;
    list-style-type: none;
}

li a{
    display: flex;
    color: rgb(226, 226, 226);
    margin-right: 30px; 
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:20px auto;
    border:1px solid black;
}

.col-10{
    padding:0 auto;
    margin: 50px auto;
}

.blockquote p{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}