* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.nav-bar{
    background-color: black;
    color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    letter-spacing: 3px;
    height: 8vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 15px;
}
.nav-links a:hover{
    color:gray;
    text-decoration: none;
}

div ul{
    display: flex;
    list-style-type: none;
}

li a{
    display: flex;
    color: rgb(226, 226, 226);
    margin-right: 30px; 
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:20px auto;
    border:1px solid black;
}

.col-10{
    padding:0 auto;
    margin: 50px auto;
}

.blockquote p{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.burger{
    display: none;
}
.burger div{
    width: 25px;
    height:1px;
    background-color: rgb(226,226,226);
    margin:5px;
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        /* wont let you scroll to other side of the screen to see the mobile version */
        overflow-x:hidden;
    }
    .nav-links {
        background-color: black;
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}
