ol, ul {
    list-style-type: none;
}
html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body {
    background-color: #cad2c5;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    background-color: #354f52;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    min-height: 80vh;
    margin: 100px;
    color:white;
}

.p


.blurb h2{
    color:#354f52;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    color:#2f3e46;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 2;
}
.content {
    margin-top:100px;
}
#mainNavbar{
    background-color: #354f52;
}
#mainNavbar .navbar-brand{
    color:white;
}

#mainNavbar .nav-link{
    color:white;
}

#mainNavbar .nav-link:hover{
    color:white;
    font-weight: bold;

}

#mainNavbar {
    font: 1.5rem;
    font-weight: 100;
}
#headingGroup span {
    color:white;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    color:#354f52;   
}

@media (max-width:1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
}
.navbar.scrolled {
    background-color:#2f3e46;
    transition: background 200ms;
}

